body{
    background-color: #424242;
    color: white;
}

#clock{
    text-align: center;
    width: 50%;
    position: absolute;
    top: 26%;
    left: 26%;
}

#clock h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.clock-container{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    align-content: center;
}

.clock-items{
    width: 32%;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-right: 3%;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
}

#date{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}